.resource-toolbar {
  z-index: 99;
  position: fixed;
  top: calc(50% + 40px);
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 550px;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 0 0 20px 20px;
  transition: top 0.3s ease;
}

.resource-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8d8d8d;
  transition: background-color 0.3s ease;
}

.resource-dot.active {
  background-color: #fff;
}

.page-arrows {
  margin-left: auto;
  font-size: 21px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.resource-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 550px;
  width: 100%;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 0 0 20px 20px;
  z-index: 99;
  text-align: center;
}


#pageDots {
  display: inline-block;
}


.page-arrows {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 21px;
  cursor: pointer;
  color: #fff;
}
